.acf-map {
	border: 1px solid $lightgrey;
	height: 200px;
	margin: 1.5rem auto;
	width: 200px;
  max-width: 100%;
}

/* fixes potential theme css conflict */
.acf-map {
  img {
    max-width: inherit !important;
  }
}
