img {
  &.alignleft {
    display: block;
    margin: 0 auto 1rem;

    @include breakpoint(480px) {
      margin-bottom: 2rem;
    }

    @include breakpoint(850px) {
      float: left;
      margin-right: 1.5em;
    }
  }
}
