#content {
  background-image: url("~assets/image/bg_img.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100%;

  @media screen and (min-width: 640px) and (max-width: 1024px) {
    min-height: calc(100vh - 349px);
  }

  @include breakpoint(1024px) {
    min-height: calc(100vh - 319px);
  }
}

.article-content {
  background-color: $white;
  border-radius: 0.4rem;
  margin-bottom: 3rem;
  margin-top: 3rem;

  @include breakpoint(640px) {
    margin-bottom: 4rem;
    margin-top: 4rem;
  }

  @include breakpoint(1024px) {
    font-size: 110%;
    margin-bottom: 6rem;
    margin-top: 6rem;
  }

  .article-h1 {
    font-size: 0;
  }

  h2 {
    font-size: 1.4rem;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .article-body {
    @include breakpoint(640px) {
      padding: 1rem;
    }

    @include breakpoint(1024px) {
      padding: 1.5rem;
    }

    article.uslugi & {
      li {
        @include list-checkbox;
      }
    }

    article:not(.uslugi) & {
      li {
        @include list-dot;
      }
    }

    &.home {
      a {
        color: $black;
        font-weight: normal;
        text-decoration: underline;
        transition: color 0.2s;

        &:hover,
        &:focus {
          color: $pink;
        }
      }
    }
  }
}
